# Importing stock listing data from Excel

In [1]:
# Import pandas library
import pandas as pd

# Import the data
nasdaq = pd.read_csv('nasdaq-listings.csv')

# Display first 10 rows
print(nasdaq.head(10))

# Inspect nasdaq
nasdaq.info()

  Stock Symbol           Company Name  Last Sale  Market Capitalization  \
0         AAPL             Apple Inc.     141.05           7.400000e+11
1        GOOGL          Alphabet Inc.     840.18           5.810000e+11
2         GOOG          Alphabet Inc.     823.56           5.690000e+11
3         MSFT  Microsoft Corporation      64.95           5.020000e+11
4         AMZN       Amazon.com, Inc.     884.67           4.220000e+11
5           FB         Facebook, Inc.     139.39           4.030000e+11
6        CMCSA    Comcast Corporation      37.14           1.760000e+11
7         INTC      Intel Corporation      35.25           1.660000e+11
8         CSCO    Cisco Systems, Inc.      32.42           1.620000e+11
9         AMGN             Amgen Inc.     161.61           1.190000e+11

  IPO Year             Sector  \
0     1980         Technology
1      NAN         Technology
2     2004         Technology
3     1986         Technology
4     1997  Consumer Services
5     2012         Technology
6      NAN  Consumer Services
7      NAN         Technology
8     1990         Technology
9     1983        Health Care

                                            Industry Last Update
0                             Computer Manufacturing     4/26/17
1    Computer Software: Programming, Data Processing     4/24/17
2    Computer Software: Programming, Data Processing     4/23/17
3            Computer Software: Prepackaged Software     4/26/17
4                     Catalog/Specialty Distribution     4/24/17
5    Computer Software: Programming, Data Processing     4/26/17
6                                Television Services     4/26/17
7                                     Semiconductors     4/23/17
8                  Computer Communications Equipment     4/23/17
9  Biotechnology: Biological Products (No Diagnos...     4/24/17
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
Stock Symbol             1115 non-null object
Company Name             1115 non-null object
Last Sale                1115 non-null float64
Market Capitalization    1115 non-null float64
IPO Year                 1115 non-null object
Sector                   1115 non-null object
Industry                 1115 non-null object
Last Update              1115 non-null object
dtypes: float64(2), object(6)
memory usage: 69.8+ KB

In [2]:
# Import the data
nasdaq = pd.read_csv('nasdaq-listings.csv', na_values='NAN', parse_dates=['Last Update'])

# Display the head of the data
print(nasdaq.head())

# Inspect the data
nasdaq.info()

  Stock Symbol           Company Name  Last Sale  Market Capitalization  \
0         AAPL             Apple Inc.     141.05           7.400000e+11
1        GOOGL          Alphabet Inc.     840.18           5.810000e+11
2         GOOG          Alphabet Inc.     823.56           5.690000e+11
3         MSFT  Microsoft Corporation      64.95           5.020000e+11
4         AMZN       Amazon.com, Inc.     884.67           4.220000e+11

   IPO Year             Sector  \
0    1980.0         Technology
1       NaN         Technology
2    2004.0         Technology
3    1986.0         Technology
4    1997.0  Consumer Services

                                          Industry Last Update
0                           Computer Manufacturing  2017-04-26
1  Computer Software: Programming, Data Processing  2017-04-24
2  Computer Software: Programming, Data Processing  2017-04-23
3          Computer Software: Prepackaged Software  2017-04-26
4                   Catalog/Specialty Distribution  2017-04-24
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
Stock Symbol             1115 non-null object
Company Name             1115 non-null object
Last Sale                1115 non-null float64
Market Capitalization    1115 non-null float64
IPO Year                 593 non-null float64
Sector                   1036 non-null object
Industry                 1036 non-null object
Last Update              1115 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 69.8+ KB

In [4]:
# Import the data
nyse = pd.read_excel('listings.xlsx', sheet_name='nyse', na_values='n/a')

# Display the head of the data
print(nyse.head())

# Inspect the data
nyse.info()

  Stock Symbol            Company Name  Last Sale  Market Capitalization  \
0          DDD  3D Systems Corporation      14.48           1.647165e+09
1          MMM              3M Company     188.65           1.127366e+11
2         WBAI         500.com Limited      13.96           5.793129e+08
3         WUBA             58.com Inc.      36.11           5.225238e+09
4          AHC   A.H. Belo Corporation       6.20           1.347351e+08

   IPO Year             Sector  \
0       NaN         Technology
1       NaN        Health Care
2    2013.0  Consumer Services
3    2013.0         Technology
4       NaN  Consumer Services

                                          Industry
0          Computer Software: Prepackaged Software
1                       Medical/Dental Instruments
2            Services-Misc. Amusement & Recreation
3  Computer Software: Programming, Data Processing
4                             Newspapers/Magazines
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
Stock Symbol             3147 non-null object
Company Name             3147 non-null object
Last Sale                3079 non-null float64
Market Capitalization    3147 non-null float64
IPO Year                 1361 non-null float64
Sector                   2177 non-null object
Industry                 2177 non-null object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB

In [6]:
# Create pd.ExcelFile() object
xls = pd.ExcelFile('listings.xlsx')

# Extract sheet names and store in exchanges
exchanges = xls.sheet_names

# Create listings dictionary with all sheet data
listings = pd.read_excel(xls, sheet_name=exchanges, na_values='n/a')

# Inspect NASDAQ listings
listings['nasdaq'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
Stock Symbol             3167 non-null object
Company Name             3167 non-null object
Last Sale                3165 non-null float64
Market Capitalization    3167 non-null float64
IPO Year                 1386 non-null float64
Sector                   2767 non-null object
Industry                 2767 non-null object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [7]:
# Import the NYSE and NASDAQ listings
nyse = pd.read_excel('listings.xlsx', sheet_name='nyse', na_values='n/a')
nasdaq = pd.read_excel('listings.xlsx', sheet_name='nasdaq', na_values='n/a')

# Inspect nyse and nasdaq
nyse.info()
nasdaq.info()

# Add Exchange reference columns
nyse['Exchange'] = 'NYSE'
nasdaq['Exchange'] = 'NASDAQ'

# Concatenate DataFrames  
combined_listings = pd.concat([nyse, nasdaq])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
Stock Symbol             3147 non-null object
Company Name             3147 non-null object
Last Sale                3079 non-null float64
Market Capitalization    3147 non-null float64
IPO Year                 1361 non-null float64
Sector                   2177 non-null object
Industry                 2177 non-null object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
Stock Symbol             3167 non-null object
Company Name             3167 non-null object
Last Sale                3165 non-null float64
Market Capitalization    3167 non-null float64
IPO Year                 1386 non-null float64
Sector                   2767 non-null object
Industry                 2767 non-null object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB

In [8]:
# Create the pd.ExcelFile() object
xls = pd.ExcelFile('listings.xlsx')

# Extract the sheet names from xls
exchanges = xls.sheet_names

# Create an empty list: listings
listings = []

# Import the data
for exchange in exchanges:
    listing = pd.read_excel(xls, sheet_name=exchange, na_values='n/a')
    listing['Exchange'] = exchange
    listings.append(listing)

# Concatenate the listings: listing_data
listing_data = pd.concat(listings)

# Inspect the results
listing_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6674 entries, 0 to 3146
Data columns (total 8 columns):
Stock Symbol             6674 non-null object
Company Name             6674 non-null object
Last Sale                6590 non-null float64
Market Capitalization    6674 non-null float64
IPO Year                 2852 non-null float64
Sector                   5182 non-null object
Industry                 5182 non-null object
Exchange                 6674 non-null object
dtypes: float64(3), object(5)
memory usage: 469.3+ KB